.copy {
    transition: all ease-in 0.1s 1ms;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    background-color: #1e1e1e;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: smaller;
  }
  .copy:hover {
    color: rgba(255, 255, 255, 1);
  }