.getImage {
  width: 100%;
  /* height: 92%; */
  color: white;
  /* background-color: rgba(255, 255, 255, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem auto 0;
  border-radius: 0.5rem;
  background-color: #1e1e1e;
}
.browse {
  width: min(300px, 100%);
}
.getImageHeading {
  font-size: large;
  text-align: center;
}
.upload {
  color: #728894;
}
.image {
  width: fit-content;
  max-width: 55vw;
  object-position: center;
  object-fit: content;
  margin-inline: auto;
  border-radius: 1rem;
  height: 350px;
}
.canvas {
  overflow: hidden;
  object-fit: cover;
}
.get {
  justify-self: flex-end !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 750px) {
  .getImageHeading {
    font-size: large;
  }
  .image {
    max-width: 100%;
    height: auto;
    margin-block: 1rem;
  }
  .get {
    position: static;
  }
  .getImage {
    height: auto;
    justify-content: flex-start;
  }
}
