.histroyHeading {
  color: #728894;
  font-size: large;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.history-itemContainer {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
  padding: 0.5rem;
}

.history-container {
  width: 98%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #1e1e1e;
  border-radius: 0.5rem;
  /* height: 600px; */
  scroll-padding-block: 1rem;
  scroll-margin-block: 1rem;
  border: 0.1rem solid #1e1e1e;
  position: sticky;
  right: 0;
  top: 1rem;
}
.history-container::-webkit-scrollbar {
  display: none;
}
.history-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgba(114, 136, 148, 1);
  padding: 0.75rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 1);
  font-size: small;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0.5rem;
}
.close {
  display: none;
}

.hide {
  right: -100vw;
}
.show {
  right: 0;
}

.history-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1e1e1e;
  transition: all 1s ease 1ms;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/* .prompt::-webkit-scrollbar {
  display: none; */
/* } */
.empty {
  height: 500px;
  color: #728894;
  display: grid;
  place-content: center;
}
.popup::-webkit-scrollbar {
  display: none;
}
.timeago {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.time {
  color: rgba(255, 255, 255, 0.75) !important;
}
@media screen and (max-width: 750px) {
  .history-container {
    position: fixed;
    height: 100vh !important;
    width: 80vw;
    top: 0;
    transition: all ease-in 0.3s 1ms;
    z-index: 10000;
  }
  .close {
    display: block;
  }

  .history-item {
    font-size: small;
  }
  .histroyHeading {
    font-size: 1.5rem;
  }
}
