.inputfield {
  padding-block: 0.5rem;
  background-color: transparent;
  border: 0.001rem solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.9);
  display: block;
  color: rgba(255, 255, 255, 0.9);
  outline: none;
  font-family: "Lexend Peta", sans-serif;
  /* font-family: "Kodchasan", sans-serif; */

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-block: 0.25rem 1rem;
  width: 100%;
}
