.button {
  color: white;
  background-color: rgb(252, 0, 1);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  width: 100%;
  /* margin-block: 1rem; */
  font-family: "Lexend Peta", sans-serif;
  /* font-family: "Kodchasan", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all ease-in 0.1s 0.1ms;
  font-size: small;
  min-width: max-content;
}

.button:hover {
  color: white;
  /* background-color: #fc00005f; */
  background-color: rgba(252, 0, 1, 0.75);
}
.button:active {
  opacity: 0.5;
}
