.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  place-content: center;
  z-index: 100000;
  position: fixed;
  top: 0;
  overflow: hidden;
  min-height: 100vh !important;
  min-width: 100vw !important;
}
.model {
  width: min(500px, 90vw);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.h3 {
  font-size: large;
  margin-block: 0.25rem;
  font-weight: 700;
}
.closePopUp {
  width: 200px;
}
.right {
  display: grid;
  grid-auto-flow: row;
  gap: 0.25rem;
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: small;
}
