.title {
  color: #728894;
  font-size: x-large;
  text-align: left;
  border-bottom: 0.1rem solid #728894;
}

.title:hover {
  border-bottom: none;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
}
.history {
  display: none;
  /* cursor: pointer; */
}

@media screen and (max-width: 750px) {
  .title {
    font-size: 1.5rem;
  }
  .history {
    display: block;
  }
  .titleContainer {
    padding-inline: 0.25rem;
  }
}
