.samples {
  width: min(325px, 100vw);

  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}
.tryThisCantainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.samples-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem auto;
  flex-wrap: wrap;
}
.tryThisCantainer > h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-block: 1rem;
}
