.textToImageContainer::--webkit-scrollbar {
  display: none !important;
}
.textToImageContainer * {
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.generatedImage {
  height: auto;
  max-height: 100%;
  width: auto;
  border-radius: 0.25rem;
  object-fit: contain;
}
.generatedImageContainer {
  /* height: 450px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.history {
  display: none;
  /* cursor: pointer; */
}
.iconCantainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.download {
  cursor: pointer;
}
.download:active {
  opacity: .5;
}
.regenerate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  gap: .25rem;
  color: #728894;
  cursor: pointer;
  font-size: .85rem;
}
.regenerate:active {
  opacity: .5;
}
@media screen and (max-width: 750px) {
  .history {
    display: block;
  }
  .titleContainer {
    margin-block: 0.75rem;
  }
  .generatedImageContainer {
    min-height: 450px;
    height: fit-content;
  }.regenerate {
    justify-content: start;
    margin: 1rem auto;

  }
}
