.textToImageContainer::--webkit-scrollbar {
  display: none !important;
}
.textToImageContainer * {
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.generatedImage {
  height: auto;
  max-height: 100%;
  width: fit-content;
  border-radius: 0.5rem;
}
.generatedImageContainer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingContainer {
  color: #728894;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  /* padding-inline: 1rem; */
}
.history {
  display: none;
  /* cursor: pointer; */
}
@media screen and (max-width: 750px) {
  .history {
    display: block;
  }
  .titleContainer {
    margin-block: 0.75rem;
  }
}
