@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&display=swap");

.welcometo {
  color: white;
  font-size: xx-large;
  /* font-family: "Lexend Tera", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; */
  font-family: "Kodchasan", sans-serif;
  font-weight: 300;
  font-style: normal;
  /* font-style: normal; */
  display: inline;
}
.label {
  color: #fc0001;
  /* font-family: "Lexend Peta", sans-serif; */
  font-family: "Kodchasan", sans-serif;

  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.checkbox-label {
  color: white;
  /* font-family: "Lexend Peta", sans-serif; */
  font-family: "Kodchasan", sans-serif;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-right: 1rem;
}

.signup-cantainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.welcome-image {
  height: 5rem;
  display: inline;
}
.left {
  display: grid;
  grid-auto-flow: rows;
  place-content: center;
  gap: 1rem;
}

.lefttop {
  display: flex;
  align-items: center;
  margin-block: 1rem;
  gap: 0.5rem;
}

.forget-password,
.create {
  color: white;
  /* font-family: "Lexend Peta", sans-serif; */
  font-family: "Kodchasan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.forget-password {
  text-align: left;
  font-size: smaller;
  text-decoration: underline;
  text-decoration-color: #fc0001;
  text-decoration-thickness: 0.15rem;
  cursor: pointer;
}
.forget-password:hover {
  text-decoration: none;
}
.create {
  text-align: center;
}
.checkbox {
  /* -webkit-appearance: none;
  appearance: none; */
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  accent-color: #fc0001;
  border: 0.1rem solid white;
  background-color: transparent;
  cursor: pointer;
}

.form {
  margin-block: 1rem;
}
.leftbottom {
  display: flex;
  justify-content: space-between;
}
.google {
  display: flex;
  color: white;
  font-family: "Kodchasan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  gap: 0.5rem;
  justify-content: center;
  margin-block: 1rem;
  align-items: center;
}
.singupimage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
