.output {
  height: fit-content;
  background-color: black;
  margin-inline: 1rem;
  border-radius: 0.5rem;
  padding: 0 1rem 2rem;
  transition: height ease-in 1s 1ms;
  width: 98vw;
}
.h2 {
  font-weight: 800;
  color: #728894;
  background-color: hwb(0 0% 100%);
  font-size: large;
}
.text {
  font-size: small;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  overflow: scroll !important;
  /* background-color: #728894; */
  border: 1px solid #728894;
  padding: 1rem;
  border-radius: 0.5rem;
  max-height: 75vh;
}
.text::-webkit-scrollbar {
  display: none;
}
.headerr {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.9);
  align-items: center;
  background-color: black;
  padding-block: 1rem;
  gap: 1rem;
}

@media screen and (max-width: 750px) {
  .output {
    margin: 0.5rem;
  }
}
