.QAteatarea::-webkit-scrollbar {
  display: none;
}
.QAteatarea {
  width: 100%;
  background-color: #1e1e1e;
  resize: none;
  color: rgba(255, 255, 255, 0.75);
  overflow-y: scroll;
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
}

.navigation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 1rem;
  position: relative;
}
.navigation {
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
.current {
  color: white;
}
.line {
  position: absolute;
  bottom: -0.5rem;
  width: 50%;
  background-color: #fc1001;
  height: 0.25rem;
  transition: all 0.3s ease-in 1ms;
}
.left {
  transform: translateX(-50%);
}
.right {
  transform: translateX(50%);
}

@media screen and (max-width: 750px) {
  .navigation-container {
    justify-content: space-around;
  }
}
