/* .QAContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
} */
.QA * {
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.QA {
  margin: 1rem;
}
.upper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}
.lower {
  margin-block: 1rem 2rem;
  border-radius: 0.5rem;
}
.history {
  display: none;
  /* cursor: pointer; */
}
@media screen and (max-width: 750px) {
  .history {
    display: block;
  }
}
.popupp {
  padding: 1rem;
  border-radius: 1rem;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid #728894;
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  animation: identifier 0.3s ease-in 1ms 1 forwards;
  position: relative;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  gap: 1rem;
}
.popup {
  grid-auto-flow: row;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  justify-content: space-between;
  align-items: center;
}
.right::-webkit-scrollbar {
  display: none;
}

.image {
  grid-template-columns: 1fr 1fr;
}

.promptContainer {
  height: auto;
  overflow: scroll;
}
.promptContainer::-webkit-scrollbar {
  display: none;
}
.heading {
  position: sticky;
  top: 0;
  color: #fc1001;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.9);
}
.right > div {
  width: 100%;
  height: 50%;
}
.heading:hover > .copy {
  display: block;
}
.cancel {
  z-index: 1000000;
  position: absolute;
  color: 728894;
  right: -0.75rem;
  top: -0.75rem;
  cursor: pointer;
}
.cancel:active {
  opacity: 0.75;
}
.img {
  object-fit: contain;
  height: 500px;
  overflow: visible !important;
}
@keyframes identifier {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: min(1000px, 90vw);
    height: 75vh;
  }
}

@media screen and (max-width: 750px) {
  @keyframes identifier {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: min(1000px, 90vw);
      height: 60vh;
    }
  }
}

@media screen and (max-width: 750px) {
  .upper {
    grid-template-columns: 1fr;
  }
  .upper,
  .lower {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .QA {
    margin: 0;
  }
  .popupp {
    grid-template-columns: 1fr;
  }
  .promptContainer {
    height: auto;
  }
}
