$size: 400px;
$layer: 20;

body {
  background: radial-gradient(
    ellipse at bottom,
    transparent 0%,
    transparent 100%
  );
  // height: 100vh;
  // overflow: hidden;
  // display: flex;
  // font-family: "Anton", sans-serif;
  // justify-content: center;
  // align-items: center;
  perspective: 1000px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: grid;
  grid-template-rows: repeat(20, 5vh);
  grid-template-columns: repeat(20, 5vw);
  transform-style: preserve-3d;
}

.monitor {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-style: preserve-3d;
  // transform: rotateZ(45deg);
}

.trigger {
  &:active ~ .monitor {
    .vr_layer_item {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      // transform: rotateZ(45deg);
    }
  }

  @for $i from 1 through 20 {
    @for $j from 1 through 20 {
      $key: ($i - 1) * 20 + $j;

      &:nth-child(#{$key}) {
        &:hover ~ .monitor {
          .camera {
            &.o-y {
              transform: rotateY(($j - 10) * -8deg);
            }

            &.o-x {
              transform: rotateX(($i - 10) * 8deg);
            }
          }
        }
      }
    }
  }
}

.camera {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 500ms;
  // transform: rotateZ(45deg);

  &.o-y {
    transform: rotateY(-30deg);
  }
}

.vr {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;

  &_layer {
    // border: 1px solid greenyellow;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(#fff, 0.1);
    background: rgba(#728894, 0.005);
    border-radius: 10px;
    transform: preserve-3d;
    transform: rotateZ(45deg);

    @for $i from 1 through $layer {
      &:nth-child(#{$i}) {
        transform: translateZ(calc($i * $size / $layer - $size / 2));
      }

      &:nth-child(#{$i}) &_item {
        animation-delay: $i * -210ms;
      }
    }

    &_item {
      width: 100%;
      aspect-ratio: 1/1;
      border: 3px solid #fff;
      border-radius: 100%;
      background: rgba(#000, 0.05);
      animation: sphere 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) alternate
          infinite,
        color 5000ms linear alternate infinite;
      transition: 500ms;
      transform: rotateZ(45deg);
    }
  }
}

@keyframes sphere {
  0% {
    transform: scale(0) rotateZ(45deg);
  }

  50% {
    transform: scale(0) rotateZ(45deg);
  }

  100% {
    transform: scale(1) rotateZ(45deg);
  }
}

@keyframes color {
  0% {
    border-color: #fc0001;
  }

  50% {
    border-color: #728894;
  }

  100% {
    border-color: #fc0001;
  }
}
