.home-cantainer {
  /* width: 100%; */
  position: relative;
  /* z-index: -1; */
  height: 85vh;
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  gap: 5rem;
  /* position: relative; */
}

.heading {
  font-family: "Lexend Tera", sans-serif;
  /* font-family: "Kodchasan", sans-serif; */
  /* padding-inline: 0.5rem; */
  font-weight: 700;
  font-size: xx-large;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1.1);
  }
}

.homeBtns {
  width: min(550px, 100%);
  position: absolute;
  z-index: 100;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding-inline: 1rem;
}
.aitools {
  color: rgba(252, 0, 1, 1);
}
.span {
  display: inline-block;
  opacity: 0;
  margin-inline: 0.25rem;
  filter: blur(4px);
}

.span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  color: rgba(252, 0, 1, 1);
  font-weight: 900 !important;
}

.span:nth-child(7) {
  font-weight: 900 !important;
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  color: rgba(252, 0, 1, 1);
}

.span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@media screen and (max-width: 750px) {
  .heading {
    font-size: 1.5rem;
  }

  .br {
    display: none;
  }
  .homeBtns {
    flex-direction: column;
    gap: 0.25rem;
  }
}
