@tailwind base;
@tailwind components;
body {
  background-color: #080b10 !important;
  /* color: rgb(255, 255, 9); */
  /* background-color: black; */
  caret-color: #fc0001;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::selection {
  background-color: rgba(252, 0, 1, 0.75);
}
@media screen and (max-width: 750px) {
  :root {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  :root {
    font-size: 15px;
  }
}
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
