.footer {
  width: 100vw;
  height: 4rem;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  margin-top: 2rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
}
.footerspan {
  color: rgba(252, 0, 1, 1);
  display: inline-block;
  margin-inline: 0.5rem;
  font-weight: 900;
}
@media screen and (max-width: 750px) {
  .footer {
    font-size: small;
    padding-inline: 0.5rem;
  }
}
