.slide {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 401px;
    align-items: center;
    scroll-snap-align: center;
    scrollbar-color: transparent;
    border: .1rem solid rgba(255, 255, 255, 0.75);
    border-radius: 1rem;
    padding: .5rem;

}
.slide > * {
    text-align: center;
    text-wrap: wrap;
}
.title {
    color: #ffffff;
}
.description {
    color: #728894;
}
.slideImage {
    height:25vh;
    width: auto;
    object-fit: contain;
    padding: 1rem;
}